*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(romeatnight.jpeg);
}
body{
    color: aliceblue;
}

h1{
    color: orange;
}
img{
    max-width: 100%;
}
.messi{
    width: 650px;
}
.car{max-width: 650px;}

.carpentry{
    max-width: 650px;
}

.f1driver{
    max-width: 650px;
}
li{
    list-style-type: none;
}

.other-dreams-{
    margin: 10px 
}
footer{
    margin: 20px 
}
    


